<footer class="grid-x padding-1 align-justify">

    <!-- Left -->
    <div class="small-12 medium-4 cell align-self-bottom show-for-large">
      
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-12 medium-12 cell margin-bottom-2" data-smooth-scroll>
            <a href="#top"><svg class="icon icon-arrow-up8"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-up8"></use></svg></a>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x grid-padding-y align-bottom">
          <div class="small-12 medium-12 cell">
            <a href="/contact">© {{site.company}}</a>
          </div>
        </div>
        
    </div>
    <!-- End Left -->
    
    <!-- Right -->
    <div class="small-12 medium-shrink cell align-self-bottom">
      
        <div class="grid-x grid-padding-x grid-padding-y">
  
        
        <div class="small-12 medium-shrink cell">
          <ul class="vertical menu text-center medium-text-left">
            <li class="menu-text h4 secondary-font">London</a></li>
            <li class="menu-text">Unit 7, Ground Floor</li>
            <li class="menu-text">21 Bonny Street</li>
            <li class="menu-text">London NW1 9PE</li>
            <li><a href="tel:02035886200">+44 (0)20 3588 6200</a></li>
          </ul>
        </div>
        
         <div class="small-12 medium-shrink cell">
          <ul class="vertical menu text-center medium-text-left">
            <li class="menu-text h4 secondary-font">Los Angeles</a></li>
            <li class="menu-text">6725 Sunset Blvd #270</li>
            <li class="menu-text">Los Angeles</li>
            <li class="menu-text">CA 90028</li>
            <li><a href="tel:+13237856313">+1 (323) 785 6313</a></li>
          </ul>
        </div>
        
        </div>
        
    </div>
    <!-- End Right -->

</footer>