<footer class="grid-x padding-1 align-justify">

    <!-- Left -->
    <div class="small-12 medium-4 cell align-self-bottom show-for-large">
      
        <div class="grid-x grid-padding-x grid-padding-y">
          <div class="small-12 medium-12 cell margin-bottom-2" data-smooth-scroll>
            <a href="#top"><svg class="icon icon-arrow-up8"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-up8"></use></svg></a>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x grid-padding-y align-bottom">
          <div class="small-12 medium-12 cell">
            <a href="/contact">© {{site.company}}</a>
          </div>
        </div>
        
    </div>
    <!-- End Left -->
    
    <!-- Right -->
    <div class="small-12 medium-shrink cell align-self-bottom">
      
        <div class="grid-x grid-padding-x grid-padding-y">

        {% assign subpage = site.pages | where: 'title', 'Contact' %}
        
        {% for item in subpage %}
          {% for location in item.locations %}
                <div class="small-12 medium-shrink cell">
                  <ul class="vertical menu text-center medium-text-left">
                    <li class="menu-text h5">{{ location.title }}</a></li>
                    <li class="menu-text">{{ location.address-text | markdownify }}</li>
                    <li><a href="tel:{{ location.phone }}">{{ location.phone }}</a></li>
                  </ul>
                </div>
          {% endfor %}
        
        {% endfor %}
        
        </div>
        
    </div>
    <!-- End Right -->

</footer>