@font-face {
  font-family: 'Larsseit Regular';
  src: 
  url('../fonts/larsseit.woff2') format('woff2'), 
  url('../fonts/larsseit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Sans No1 Black';
  src: 
  url('../fonts/sharp-sans-no1-black.woff2') format('woff2'), 
  url('../fonts/sharp-sans-no1-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
