---
layout: default
---

<!-- Intro -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 cell text-center">
      <h3>{{page.intro}}</h3>
    </div>
  </div>
</div>
<!-- End Intro -->

<!-- Featured Clients -->
<div class="grid-container">
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
  {% assign clients = site.clients | sort: 'position' | where: "is-client-featured", "true" %}
  {% for client in clients %}
    <div class="cell">
    {% include excerpt.html %}
    </div>
  {% endfor %}
</div>
</div>
<!-- End Featured Clients -->

<!-- Clients List -->
<div class="grid-container padding-bottom-3">
  <!-- Clients Category - Labels -->
    <div class="grid-x grid-padding-x grid-padding-y">
      
      <div class="small-12 medium-3 cell">
        <h3 class="secondary-font">Labels</h3>
      </div>
      
      <div class="small-12 medium-9 cell">
        <div class="grid-x small-up-2 medium-up-3">
        {% assign clients = site.clients | sort: 'title' %}
        {% for client in clients %}
          {% if client.tags contains 'label' %}
            <div class="cell">
              {% include link.html %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Labels -->
  
  <!-- Clients Category - Artists -->
    <div class="grid-x grid-padding-x grid-padding-y">
      
      <div class="small-12 medium-3 cell">
        <h3 class="secondary-font">Artists</h3>
      </div>
      
      <div class="small-12 medium-9 cell">
        <div class="grid-x small-up-2 medium-up-3"> 
        {% assign clients = site.clients | sort: 'title' %}
        {% for client in clients %}
          {% if client.tags contains 'artist' %}
            <div class="cell">
              {% include link.html %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Artists -->
  
  <!-- Clients Category - Festivals -->
    <div class="grid-x grid-padding-x grid-padding-y">
      
      <div class="small-12 medium-3 cell">
        <h3 class="secondary-font">Festivals</h3>
      </div>
      
      <div class="small-12 medium-9 cell">
        <div class="grid-x small-up-2 medium-up-3"> 
        {% assign clients = site.clients | sort: 'title' %}
        {% for client in clients %}
          {% if client.tags contains 'festival' %}
            <div class="cell">
              {% include link.html %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Festivals -->
  
  <!-- Clients Category - Venues -->
    <div class="grid-x grid-padding-x grid-padding-y">
      
      <div class="small-12 medium-3 cell">
        <h3 class="secondary-font">Venues and Brands</h3>
      </div>
      
      <div class="small-12 medium-9 cell">
        <div class="grid-x small-up-2 medium-up-3"> 
        {% assign clients = site.clients | sort: 'title' %}
        {% for client in clients %}
          {% if client.tags contains 'venue' %}
            <div class="cell">
              {% include link.html %}
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    
    </div>
  <!-- End Clients Category - Venues -->
</div>
<!-- End Clients List -->