---
layout: default
---

<!-- London Map -->
<div class="grid-container padding-vertical-2">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 medium-7 cell">
      <div id="london" style="width: 100%; height: 20rem" class="margin-bottom-1"></div>      
    </div>
    
    <div class="small-12 medium-4 cell">
        <h3>London</h3>
        <p>Unit 7, Ground Floor<br>
        21 Bonny Street<br>
        London<br>
        NW1 9PE<br>
        United Kingdom</p>
      
        <div><a href="https://goo.gl/maps/VQfTBakak3B2" class="underline">Directions</a></div>
        <div><a href="tel:02035886200" class="underline">+44 (0)20 3588 6200</a></div>

    </div>
  </div>
</div>
<!-- End London Map -->

<!-- Los Angeles Map -->
<div class="grid-container g">
<div class="grid-x grid-padding-x grid-padding-y">
  <div class="small-12 medium-7 cell">
    <div id="losangeles" style="width: 100%; height: 20rem" class="margin-bottom-1"></div>  
  </div>
  
  <div class="small-12 medium-4 cell">
    <div class="contact__location__address">
      <h3>Los Angeles</h3>
      <p>2972 Glendale Blvd<br>
        Los Angeles<br>
        CA 90039<br>
        United States of America</p>
    </div>
    
    <div><a href="https://goo.gl/maps/3c3W3KEiEgscdbRa8" class="underline">Directions</a></div>

  </div>
</div>
</div>
<!-- End Los Angeles Map -->

<!-- Enquiries -->
<div class="grid-container padding-vertical-3">
  <div class="grid-x grid-padding-x grid-padding-y">
    
    <div class="small-12 medium-12 cell">
      <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2">
        {% for enquiry in page.enquiries %}
        <div class="cell contact__enquiry">
          <h3>{{ enquiry.title }}</h4>
          {{ enquiry.text | markdownify }}
          <a href="mailto:{{ enquiry.contact }}" class="underline">{{ enquiry.contact }}</a>
        </div>
        {% endfor %}
      </div>
    </div> 
  
  </div>
</div>
<!-- End Enquiries -->

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZ2FyZXRoam9obnNkZXNpZ24iLCJhIjoibWRoWDZWUSJ9.n1A58EO10IDrB5yIAKqAPA';

var map = new mapboxgl.Map({
container: 'losangeles', // container id
style: 'mapbox://styles/garethjohnsdesign/cjwujg6hf0myx1cqyw4mfpv3h', //hosted style id
center: [-0.004, 51.482],
zoom: 14,
scrollZoom: false,
pitch: 60, // pitch in degrees
bearing: -60, // bearing in degrees
});

map.addControl(new mapboxgl.NavigationControl());

map.on("load", function () {
    /* Image: An image is loaded and added to the map. */
    map.loadImage("https://i.imgur.com/MK4NUzI.png", function(error, image) {
    if (error) throw error;
    map.addImage("custom-marker", image);
    /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
    map.addLayer({
    id: "markers",
    type: "symbol",
    /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
    source: {
    type: "geojson",
    data: {
    type: 'FeatureCollection',
    features: [
    {
    type: 'Feature',
    properties: {},
    geometry: {
    type: "Point",
    coordinates: [-0.004, 51.482]
    }
    }
    ]
    }
    },
    layout: {
      'icon-image': 'location',
      'icon-offset': [0, -40],
      'icon-allow-overlap': true,
    }
    });
    });
    });

</script>