---
layout: default
---

<!-- New Contacts -->
<div class="grid-container">
  {% for location in page.locations %}
    <div class="grid-x grid-padding-x grid-padding-y">
  
      <div class="small-12 medium-7 cell">
        <div id="{{ location.title | slugify: "pretty" | remove: "-" }}" style="width: 100%; height: 20rem" class="margin-bottom-1"></div>  
      </div>
      
      <div class="small-12 medium-4 cell">
          <div class="cell contact__enquiry">
            <h3>{{ location.title }}</h4>
            {{ location.address-text | markdownify }}
            <div><a href="{{ location.directions }}" class="underline">Directions</a></div>
            <div><a href="tel:{{ location.phone }}" class="underline">{{ location.phone }}</a></div>
          </div>
      </div> 
    
    </div>
  {% endfor %}
</div>
<!-- End New Contacts -->

<!-- Enquiries -->
<div class="grid-container padding-vertical-2">
  <div class="grid-x grid-padding-x grid-padding-y">
    
    <div class="small-12 medium-12 cell">
      <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2">
        {% for enquiry in page.enquiries %}
        <div class="cell contact__enquiry">
          <h3>{{ enquiry.title }}</h4>
          {{ enquiry.text | markdownify }}
          <a href="mailto:{{ enquiry.contact }}" class="underline">{{ enquiry.contact }}</a>
        </div>
        {% endfor %}
      </div>
    </div> 
  
  </div>
</div>
<!-- End Enquiries -->


<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZ2FyZXRoam9obnNkZXNpZ24iLCJhIjoiY2s2cWl1a3pzMTByajNucDk3OTlzbGNsbyJ9.rPrZ8SXk_i_WVzvfDYdWcQ';
{% for location in page.locations %}
window.addEventListener('load', function() {
    var {{ location.title | slugify: "pretty" | remove: "-" }} = new mapboxgl.Map({
        container: '{{ location.title | slugify: "pretty" | remove: "-" }}',
        style: 'mapbox://styles/garethjohnsdesign/ck6qijlqv3kw91iofqnvoieyz',
        center: [{{ location.location }}],
        zoom: 13.88,
        scrollZoom: false
    });

    var geojson = {
      type: 'FeatureCollection',
      features: [{
        map: {{ location.title | slugify: "pretty" | remove: "-" }},
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [{{ location.location }}]
        },
        properties: {
          title: 'Mapbox',
          description: 'Washington, D.C.'
        }
      }]
    };

    // add markers to map
    geojson.features.forEach(function(marker) {
    
      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'marker';
    
      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .addTo(marker.map);
    });

    var {{ location.title | slugify: "pretty" | remove: "-" }}Nav = new mapboxgl.NavigationControl();
    {{ location.title | slugify: "pretty" | remove: "-" }}.addControl({{ location.title | slugify: "pretty" | remove: "-" }}Nav, 'top-left');
});
{% endfor %}
</script>