---
layout: default
---

<!-- Intro -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-9 cell">
    <h2>{{page.title}}</h2>
    <h4 class="primary-color">{{page.location}}</h4>
    {{page.content | markdownify}}
    </div>
  </div>
</div>
<!-- End Intro -->

<!-- About Us -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-9 cell">
      <h4>About Us</h4>
      {{site.about-text | markdownify}}
    </div>
  </div>
</div>
<!-- End About Us -->

<!-- Job Description -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-9 cell">
      <h4>Job Description</h4>
      {{page.job-description | markdownify}}
    </div>
  </div>
</div>
<!-- End Job Description -->

<!-- Skills -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-9 cell">
      <h4>Skills you will bring</h4>
      {{page.skills-description | markdownify}}
    </div>
  </div>
</div>
<!-- End Skills -->

<!-- Focus -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-9 cell">
      <h4>Key focus area of this role</h4>
      {{page.focus-description | markdownify}}
    </div>
  </div>
</div>
<!-- End Focus -->

<!-- Competencies -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-9 cell">
      <h4>Key Competencies</h4>
      {{page.competencies-description | markdownify}}
    </div>
  </div>
</div>
<!-- End Competencies -->

<!-- What to expect -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-9 cell">
      <h4>What to expect from us</h4>
      {{page.expectations-description | markdownify}}
    </div>
  </div>
</div>
<!-- End What to expect -->

<!-- Apply -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-9 cell">
      <h4>To Apply</h4>
      {{page.apply-description | markdownify}}
    </div>
  </div>
</div>
<!-- End Apply -->

<!-- Apply -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-9 cell">
     <p><small>Listen Up Online Promotions Limited respect your privacy and are committed to protecting your personal data. To read the full privacy policy please <a href="/uploads/employment-candidate-privacy-notice.pdf">click here</a>.</small></p>
    </div>
  </div>
</div>
<!-- End Apply -->